* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/assets/images/triangle-mosaic.jpg);
    background-attachment: fixed;
    height: 100%;
}

body h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.top-bar {
    width: 100vw;
    height: 77px;
    background: #ffffff;
    border-bottom-style: groove;
    border-color: #cccccc;
    border-width: 1px;
    flex-shrink: 0;
}

/* header content start */
.header-content {
    max-width: 960px;
    height: 77px;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    
}

h1 {
    display: block;
    width: fit-content;
    padding-top: 15px;
    margin-left: 0px;
    margin-top: 0px;
    height: 100%;
    background: #4aaaa5;
    color: white;
    float: left;
        
}

.nav-links {
    margin-right: 0px;
    margin-top: 25px;
    color: #777777;
    float: right;
}
/* header content end */


/* main content start */
.container {
    max-width: 960px;
    min-width: 960px;
    padding: 20px 0px 20px 0px;
    margin: 0 auto;
    flex-grow: 1;
}

.main-content {
    padding: 20px;
    background:#ffffff;
    border-color:#dddddd;
    border-style: groove;
    border-width: 1px;
    overflow: hidden; 
}

h2 {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    color:#4aaaa5;
    border-bottom: 2px solid #777777;
}

#bio-image {
    margin-left: 10px;
    width: 200px;
    height: 200px;
    position: relative;
    float: left;
}

p {
    margin-left: 20px;
    margin-right: 20px;
    color: #777777;
    line-height: 1.5;
    float: left;
}
/* main content end */

/* form content start */
form {
    padding: 10px;
    margin: 0 auto;
    display: inline-block;
}

input {
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    
}
 #message {
    height: 200px;
    width: 100%;
    margin: 10px 0px;
    padding: 10px;   
}

button {
    padding: 5px 20px;
    color: #ffffff;
    background: #4aaaa5;
    border: none;
    text-align: center;
}
/* form content end */

/* portfolio content start */

.wrapper-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: space-evenly; 
    align-content: space-around;
}

.box {
    height: 200px;
    margin: 20px 10px 0px 10px;
    position: relative;
}

h3 {
    height: 50px;
    width: 100%;
    background: #4aaaa5;
    position: absolute;
    bottom: 10px;
    color: #ffffff;
    text-align: center;
    line-height: 2;
    font-size: 1.25em;
    padding-bottom: 10px;
}

img {
    width: 100%;
    height: 100%;
}
/* portfolio content end */


/* footer */
#footer {
    width: 100%;
    bottom: 0;
    padding: 25px;
    border-top: 8px solid #4aaaa5;
    clear: both;
    text-align: center;
    background: #666666;
    color: #ffffff;
    flex-shrink: 0;
}
/* footer */
